@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutview.cshtml";

    var user = ViewBag.UserId;
    var userType = ViewBag.UserType;
    var SN_no = ViewBag.Snno;

    List<EWarranty.Models.GroupClass.DefineCode> List = ViewBag.Status;
}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Warranty</title>

    <script src="~/fixed-table-master/fixed-table.js"></script>
    <link href="~/fixed-table-master/fixed-table.css" rel="stylesheet" />
</head>
<body>
    <div class="container-scroller">

        <!-- <div class="main-panel">-->
        <div>
            <div class="content-wrapper">
                <!-- Page Title Header Starts-->
                <div class="row page-title-header" style="padding-left: 10px;">
                    <h1>ตรวจสอบสถานะ</h1>
                    <div class="col-md-12">
                        @if (userType == "14") //end user
                        {
                            <div class="row" style="padding-top: 5px;">
                                <div class="col-sm-4 col-lg-3">
                                    <p class="page-title">หมายเลขซีเรียล</p>
                                    <input type="text" class="form-control" id="b_Sn" name="b_Sn" oninput="this.value = this.value.toUpperCase()" />
                                </div>
                                <div class="col-sm-4 col-lg-3">
                                    <p class="page-title">สถานะ</p>
                                    <select class="form-control" id="b_Status" name="b_Status">
                                        <option value="0">เลือกสถานะ</option>

                                        @foreach (var row in ViewBag.Status)
                                        {
                                            <option value="@row.CODE">
                                                @row.DESCRIPTION_TH

                                            </option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4 col-lg-3">
                                    <p class="page-title">ชื่อลูกค้า</p>
                                    <input type="text" class="form-control" id="b_Cusname" name="b_Cusname" />
                                </div>
                                <div class="col-sm-4 col-lg-2">
                                    <p class="page-title">ทะเบียนรถ</p>
                                    <input type="text" class="form-control" id="b_Carlicense" name="b_Carlicense" />
                                </div>

                                <div class="col-sm-3 col-lg-1">
                                    <p class="page-title"> &nbsp; </p>
                                    <button type="button" class="btn btn-lg btn-primary toolbar-item" id="btn_search" style="margin-top: -3px;">ค้นหา</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row" style="padding-top: 5px;">
                                <div class="col-md-2">
                                    <p class="page-title">ผู้ใช้งาน</p>
                                    <input type="hidden" class="form-control" id="b_Cuscode" name="b_Cuscode" value="@this.Session["cuscode"]" />
                                    <input type="text" class="form-control" id="b_UserID" name="b_UserID" />
                                </div>
                                <div class="col-md-2">
                                    <p class="page-title">หมายเลขซีเรียล</p>
                                    <input type="text" class="form-control" id="b_Sn" name="b_Sn" oninput="this.value = this.value.toUpperCase()" />

                                </div>
                                <div class="col-md-2">
                                    <p class="page-title">สถานะ</p>
                                    <select class="form-control" id="b_Status" name="b_Status">
                                        <option value="0">เลือกสถานะ</option>

                                        @foreach (var row in ViewBag.Status)
                                        {
                                            <option value="@row.CODE">
                                                @row.DESCRIPTION_TH

                                            </option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <p class="page-title">ชื่อลูกค้า</p>
                                    <input type="text" class="form-control" id="b_Cusname" name="b_Cusname" />
                                </div>
                                <div class="col-md-2">
                                    <p class="page-title">ทะเบียนรถ</p>
                                    <input type="text" class="form-control" id="b_Carlicense" name="b_Carlicense" />
                                </div>
                                @if (userType == "15")
                                {
                                    <div class="col-sm-1 text-center" style="padding-top: 5px;">
                                        <p class="page-title"> ค้นหาขั้นสูง</p>
                                        <input type="checkbox" value="Y" id="advanceSearch" style="transform: scale(1.9);">
                                    </div>
                                }
                                <div class="col-md-1">
                                    <p class="page-title"> &nbsp; </p>
                                    <button type="button" class="btn btn-lg btn-primary toolbar-item" id="btn_search" style="margin-top: -3px;">ค้นหา</button>
                                </div>
                            </div>
                            @*<div class="sort-wrapper">

                                </div>*@
                        }

                    </div>
                </div>
                <!-- Page Title Header Ends-->

                <div class="page-header-toolbar">
                    <div class="card-body">

                    </div>
                </div>
                <!-- <div class="row">
                     <div class="col-md-12 grid-margin">
                         <div class="card">

                             <div class="card-body">
                                 <div class="row">

                                     <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                                         <div class="d-flex">
                                             <div class="wrapper">
                                                 <h3 class="mb-0 font-weight-semibold">หมายเลขซีเรียล</h3>
                                                 @*<h5 class="mb-0 font-weight-medium text-primary">S/N</h5>*@
                                                 <input type="text" class="form-control" id="b_Sn" name="b_Sn" />
                                             </div>

                                         </div>
                                     </div>
                                     <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                                         <div class="d-flex">
                                             <div class="wrapper">
                                                 <h3 class="mb-0 font-weight-semibold">สถานะ</h3>
                                                 @*<h5 class="mb-0 font-weight-medium text-primary">Conversation</h5>*@
                                                 <select class="form-control" id="b_Status" name="b_Status"></select>
                                             </div>
                                             <div class="wrapper my-auto ml-auto ml-lg-4">

                                             </div>
                                         </div>
                                     </div>
                                     <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                                         <div class="d-flex">
                                             <div class="wrapper">
                                                 <h3 class="mb-0 font-weight-semibold">ชื่อลูกค้า</h3>

                                                 <input type="search" class="form-control" id="b_cusname" name="b_cusname">
                                             </div>

                                         </div>
                                     </div>
                                     <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                                         <div class="d-flex">
                                             <div class="wrapper">
                                                 <h3 class="mb-0 font-weight-semibold">ทะเบียนรถ</h3>

                                                 <input type="search" class="form-control" id="b_Carlicense" name="b_Carlicense">
                                             </div>

                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>  -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-12 grid-margin">
                                <div class="card">
                                    <div class="card-header" style="max-height: 60px;">
                                        <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6 text-left"> <h5>ข้อมูลลงทะเบียนสินค้า</h5> </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 text-right" id="btnExport" style="display:none;">
                                                    @using (Html.BeginForm("Index", "Inquiry"))
                                                    {
                                                        <button class="btn btn-sm btn-secondary" onclick="ExportDataInquiry();" style="margin-top: -3px;"> <i class="fa fa-file-excel-o"> </i> Export Excel </button>
                                                    }
                                                </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <!--<div class="d-flex justify-content-between">
                                            <label> <h5>ข้อมูลลงทะเบียนสินค้า</h5></label>-->
                                        @*<a href="#"><small>Show All</small></a>*@
                                        <!--</div>
                                        <p></p>-->

                                        <div id="fixed-table-container-1" class="fixed-table-container" style="z-index: 1;">
                                            @*<table class="table table-striped table-hover" id="_tbinvoicehiscx">*@
                                            <table>
                                                <thead>
                                                    <tr>
                                                        @*<th>No.</th>*@
                                                        <th>ต้องการ</th>
                                                        <th>หมายเลขซีเรียล</th>
                                                        <th>เคลมครั้งที่</th>
                                                        <th>เลขที่เคลม</th>


                                                        <th>รหัสสินค้า</th>
                                                        @if (userType != "14")
                                                        {
                                                            <th>รายละเอียดสินค้า</th>
                                                        }
                                                        <th>สถานะ</th>
                                                        @if (userType != "14")
                                                        {
                                                            <th>ลูกค้า/เบอร์โทร</th>
                                                        }
                                                        <th>ยี่ห้อ</th>
                                                        <th>รุ่นรถ</th>
                                                        <th>ปี</th>
                                                        <th>ทะเบียนรถ</th>
                                                        <th>ร้านค้าที่ติดตั้ง</th>
                                                        <th>เบอร์โทรร้านค้าที่ติดตั้ง</th>
                                                        <th>วันที่ลงทะเบียน</th>
                                                        <th>วันที่สิ้นสุดรับประกัน</th>
                                                        <th>วันที่แจ้งเคลม</th>


                                                        @if (Session["UserType"].ToString() != "14")
                                                        {
                                                            if (Session["UserType"].ToString() != "15")
                                                            {
                                                                <th>วันที่สินค้าเข้าคลัง</th>
                                                                <th>วันที่ขาย</th>
                                                                <th>รหัส/ชื่อลูกค้า (ดีลเลอร์)</th>
                                                                <th>พนักงานขาย</th>
                                                            }
                                                            <th>เลขที่ใบเสร็จ</th>
                                                            <th>สร้างโดย</th>
                                                            <th>วันที่สร้าง</th>
                                                            <th>แก้ไขโดย</th>
                                                            <th>วันที่แก้ไข</th>
                                                            <th>อื่นๆ</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- main-panel ends -->
        <!-- page-body-wrapper ends -->
    </div>
    <div class="modal fade" id="confirm-claim" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body">
                    <p id="textboxadm"></p>  <i class="fa fa-truck fa-3x"></i> <i class="fa fa-truck fa-2x"></i>

                </div>
                <div class="modal-footer">



                    <button type="button" id="btnnext" class="btn btn-success btn-ok" data-dismiss="modal">ใช่</button>
                    <button type="button" id="btnconfirm" class="btn btn-default " data-dismiss="modal">ไม่ใช่</button>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="confirmdatail-claim" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body">
                    <p id="textbox"></p> <i class="fa fa-truck fa-3x"></i> <i class="fa fa-truck fa-2x"></i>

                </div>
                <div class="modal-footer">



                    <button type="button" id="btnnextdetail" class="btn btn-success btn-ok" data-dismiss="modal">ต้องการ</button>
                    <button type="button" id="btnconfirmdetail" class="btn btn-default " data-dismiss="modal">ไม่ต้องการ</button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="confirmReplacement-claim" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body">
                    <p id="textboxReplacement"></p> <i class="fa fa-truck fa-3x"></i> <i class="fa fa-truck fa-2x"></i>

                </div>
                <div class="modal-footer">



                    <button type="button" id="btnnextReplacement" class="btn btn-success btn-ok" data-dismiss="modal">ต้องการ ทดแทนสินค้า</button>
                    <button type="button" id="btnnextviewReplacement" class="btn btn-success btn-ok" data-dismiss="modal">ต้องการ ดูรายละเอียด</button>
                    <button type="button" id="btnconfirmdetail" class="btn btn-default " data-dismiss="modal">ไม่ต้องการ</button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal" id="myModal" style="background-color: black;">

        <div class="modal-dialog" role="document" style="width: 360px;">

            <div class="modal-content">

                <div class="modal-header" style="background-color: #337AB7; padding: 16px 16px; color: #FFF; border-bottom: 2px dashed #337AB7; ">

                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>*@

                    <h4 class="modal-title" id="myModalLabel"></h4>

                </div>

                <div class="modal-body" id="texterror">
                </div>

                <div class="modal-footer">

                    @*<button type="button" class="btn btn btn-primary" data-dismiss="modal">OK</button>*@

                    <button type="button" class="btn btn btn-success" data-dismiss="modal" id="btnlogin">เข้าสู่ระบบอีกครั้ง</button>

                    @*<button type="button" class="btn btn-orange" data-dismiss="modal">Cancel</button>*@

                </div>

            </div>

        </div>

    </div>
    <input type="hidden" id="snID" />
    <input type="hidden" value="@userType" id="b_userType" />
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/BootstrapTemplate/src/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/BootstrapTemplate/src/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/BootstrapTemplate/src/assets/js/shared/off-canvas.js"></script>
    <script src="~/BootstrapTemplate/src/assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/BootstrapTemplate/src/assets/js/demo_1/dashboard.js"></script>
    <!-- End custom js for this page-->
    <script src="~/BootstrapTemplate/src/assets/js/shared/jquery.cookie.js" type="text/javascript"></script>

    <script src="~/Scripts/localhost.js"></script>
    <script>
        var id = '@Request.RequestContext.HttpContext.Session["ID"]';
        var userid = '@Request.RequestContext.HttpContext.Session["UserID"]';
        var usertype = '@Request.RequestContext.HttpContext.Session["UserType"]';
        //  let lastname = sessionStorage.getItem("hostname");
        //   alert(lastname)
        let lastname = getlocalhost();
        console.log(lastname);
        $('#regid').css("color", "#212529");
        $('#regeditid').css("color", "#212529");
        $('#changeid').css("color", "#212529");
        $('#Inquiryid').css("color", "blue");
        if (usertype == "14") {
            checklogin(userid, id)
        }

        function ExportDataInquiry() {
            var b_Sn = $("#b_Sn").val();
            var b_Status = $("#b_Status option:selected").val();
            var b_Cusname = $("#b_Cusname").val().trim();
            var b_Carlicense = $("#b_Carlicense").val().trim();
            var b_Customerid = $("#b_UserID").val();
            var b_typeid = $("#b_userType").val();
            var b_Cuscode = '';
            var b_advanceSearch = $("#advanceSearch").is(":checked");//มีเฉพาะสิทธิ์ dealer
            if (!b_advanceSearch && b_typeid == 15) { //ไม่คลิก
                if ($("#b_Cuscode").val() != "" && typeof ($("#b_Cuscode").val()) !== "undefined") {
                    var b_Cuscode = $("#b_Cuscode").val().trim(); //มีเฉพาะสิทธิ์ dealer
                }
            }
            $.ajax({
                url: '@Url.Action("SetExportDataInquiry", "Inquiry")',
                data: {
                    b_Sn: b_Sn,
                    Status: b_Status,
                    Customername: b_Cusname,
                    Carlicense: b_Carlicense,
                    Customerid: b_Customerid,
                    Cuscode: b_Cuscode,
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                }
            });
            return false;
        }

        function checklogin(userid, id) {
            $.ajax({
                url: '@Url.Action("GetdataSessionlogin", "GetdataCenter")',
                data: {
                UsrID: userid,
                SessionId: id

                },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                var splitstring = data.StrStstuslogin;
                //console.log(splitstring);
                let text = splitstring;
                const myArray = text.split("|");
                let mysession = myArray[1];
                let mystatus = myArray[0];
                // console.log("mystatus " + mystatus + "//////" + "mysession " + mysession);
                if (id != mysession) {
                    $("#texterror").empty();
                    $("#texterror").text("ขออภัย ท่านทำรายการเกินระยะเวลาที่กำหนด กรุณาเข้าใช้งานใหม่อีกครั้ง");
                    $("#myModal").modal();
                    return false;
                    //window.location.replace("../Account/LogIn");
                } else {

                    if (mystatus == "0") {
                        $("#texterror").empty();
                        $("#texterror").text("ขออภัย ท่านทำรายการเกินระยะเวลาที่กำหนด กรุณาเข้าใช้งานใหม่อีกครั้ง");
                        $("#myModal").modal();
                        return false;
                        //window.location.replace("../Account/LogIn");
                    }
                }
            }
        });

        }
        $(document).on("click", "#myModal", function () {
                // $('#myModal3').click(function () {
          if (usertype == "14") {
                    $("#myModal").modal({ backdrop: "static" });
          }
       });
       if (usertype == "14") {
           $(window).on('load', function () {
               //alert("load")
               checklogin(userid, id)
           });
           window.onclick = function () {
               //alert("onclick")
               checklogin(userid, id)
           };
           $('.navbar-nav').click(function () {
               // alert("navbar-nav")
               checklogin(userid, id)

           });
           $('a').click(function () {
               //  alert("a")
               checklogin(userid, id)

           });
           //$(document).bind('keypress.session', function (ed, e) {
           //    checklogin(userid, id)
           //});
           $(document).bind('mousedown keydown', function (ed, e) {

               checklogin(userid, id)
           });
           $(window).scroll(function (e) {

               checklogin(userid, id)
           });

       }
        $('#btnlogin').click(function () {
           // if (usertype == "14") {

                var currentURL = window.location.href;


                window.location.replace(lastname + "/Account/LogIn");
          //  }
        });
        $("#btn_search").on("click", function () {

            var b_Sn = $("#b_Sn").val();
            var b_Status = $("#b_Status option:selected").val();
            var b_Cusname = $("#b_Cusname").val();
            var b_Carlicense = $("#b_Carlicense").val();
            var b_Customerid = $("#b_UserID").val();
            var b_typeid = $("#b_userType").val();
            var b_advanceSearch = $("#advanceSearch").is(":checked");//มีเฉพาะสิทธิ์ dealer
            if (b_advanceSearch) {
                if (b_Sn == "" || b_Carlicense == "") {
                    alert("กรุณากรอกข้อมูลหมายเลขซีเรียลและทะเบียนรถให้ครบถ้วน");
                    return false;
                }
            }

            if(b_Sn == "" && b_Status == "0" && b_Cusname == "" && b_Carlicense == "" && b_Customerid == "") {
                alert("กรุณากรอกข้อมูลเพื่อต้องการค้นหา");
                return false;
            }else{
                  GetGetdateInquiry(b_Status,"1");
             }
        });
       // GetGetdateInquiry("0");
        if (usertype != "14") {
            GetGetdateInquiry("2","0");
            $("#b_Status").val("2");
        } else {
            GetGetdateInquiry("0", "0");
            $("#b_Status").val("0");
        }

        function GetGetdateInquiry(status,dis) {
            var b_Sn = $("#b_Sn").val();
            var b_Status = status;
            var b_Cusname = $("#b_Cusname").val().trim();
            var b_Carlicense = $("#b_Carlicense").val().trim();
            var b_Customerid = $("#b_UserID").val();
            var b_typeid = $("#b_userType").val();
            var b_Cuscode = '';
            var b_advanceSearch = $("#advanceSearch").is(":checked");//มีเฉพาะสิทธิ์ dealer
            if (!b_advanceSearch && b_typeid == 15) { //ไม่คลิก
                if ($("#b_Cuscode").val() != "" && typeof($("#b_Cuscode").val()) !== "undefined") {
                    var b_Cuscode = $("#b_Cuscode").val().trim(); //มีเฉพาะสิทธิ์ dealer
                }
            }
            $.ajax({
                url: '@Url.Action("GetdateInquiry", "GetdataCenter")',
                data: {
                    b_Sn: b_Sn,
                    Status: b_Status,
                    Customername: b_Cusname,
                    Carlicense: b_Carlicense,
                    Customerid: b_Customerid,
                    Cuscode: b_Cuscode,
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                   console.log(data)
                    // $('#_tbinvoicehiscx > tbody:last-child').html("");
                    $('#fixed-table-container-1 tbody:last-child').html("");
                    if (data.length > 0) {
                        $("#btnExport").css('display', 'block');
                        console.log(data.length)
                        var chkstatus = "0";
                        var varbutton = "";
                        var SubmithtmlPage = '';
                        for (var i = 0; i < data.length; i++) {
                            var warrantyExpire = "";
                            warrantyExpire = data[i].WarrantyExpire;
                            chkstatus = data[i].StatusID;
                            if (b_typeid == "14") { //end user
                                if (chkstatus == "1" || chkstatus == "5" || chkstatus == "8") { //ลงทะเบียนเรียบร้อย, ไม่ผ่าน, ขอข้อมูลเพิ่ม
                                    if (warrantyExpire == '7') {//หมดระยะเวลารับประกัน
                                        varbutton = '<td><button type="button" stksn=' + data[i].Warranty_ID + ' id="clickno1" varbut ="1" class="btn btn-info" data-dismiss="modal">ดูรายละเอียด</button>&nbsp;<button type="button" stksn=' + data[i].Warranty_ID + '  varbut ="2"  class="btn btn-secondary" disabled>หมดวลารับประกัน</button></td>';
                                    } else {
                                        varbutton = '<td><button type="button" stksn=' + data[i].Warranty_ID + ' id="clickno1" varbut ="1" class="btn btn-info" data-dismiss="modal">ดูรายละเอียด</button>&nbsp;<button type="button" stksn=' + data[i].Warranty_ID + '  varbut ="2"  class="btn btn-warning">แจ้งเคลม</button></td>';
                                    }
                                } else if (chkstatus == "2" || chkstatus == "3" || chkstatus == "4" || chkstatus == "5" || chkstatus == "6" || chkstatus == "7" ) { // ส่งพิจารณาเคลม
                                    varbutton = '<td><button type="button" stksn=' + data[i].Warranty_ID + ' id="clickno1" varbut ="1" class="btn btn-info" data-dismiss="modal">ดูรายละเอียด</button>&nbsp;<button type="button" stksn=' + data[i].Warranty_ID + '  varbut ="2"  class="btn btn-secondary" disabled>แจ้งเคลมแล้ว</button></td>';
                                }
                            } else {
                                if (chkstatus == "1") { //ลงทะเบียนเรียบร้อย
                                    if (data[i].CreateBy == userid) { //คนลงทะเบียนสามารถแจ้งเคลมได้
                                        varbutton = '<td><button type="button" stksn=' + data[i].Warranty_ID + ' id="clickno1" varbut ="1" class="btn btn-info" data-dismiss="modal">ดูรายละเอียด</button>&nbsp;<button type="button" stksn=' + data[i].Warranty_ID + '  varbut ="2"  class="btn btn-warning">แจ้งเคลม</button></td>';
                                    } else {
                                        varbutton = '<td><button type="button" stksn=' + data[i].Warranty_ID + ' id="clickno1" varbut ="1" class="btn btn-info" data-dismiss="modal">ดูรายละเอียด</button>&nbsp;<button type="button" stksn=' + data[i].Warranty_ID + '   varbut ="2"  class="btn btn-warning" disabled>แจ้งเคลม</button></td>';
                                    }
                                } else if (chkstatus == "2" || chkstatus == "3") { // กำลังพิจารณา
                                    varbutton = '<td><button type="button" stksn=' + data[i].Warranty_ID + '  id="clickno1" varbut ="1" class="btn btn-info" data-dismiss="modal">ดูรายละเอียด</button>&nbsp;<button type="button" stksn=' + data[i].Warranty_ID + ' varbut ="3"  class="btn btn-warning">ตรวจสอบ</button></td>';
                                } else if (chkstatus == "4") { // Approved
                                    varbutton = '<td><button type="button" stksn=' + data[i].Warranty_ID + '  id="clickno1" varbut ="1" class="btn btn-info" data-dismiss="modal">ดูรายละเอียด</button>&nbsp;<button type="button" varbut ="4" stksn=' + data[i].Warranty_ID + '  class="btn btn-success btn-ok">ทดแทนสินค้า</button></td>';
                                } else { // Rejected
                                    varbutton = '<td><button type="button" stksn=' + data[i].Warranty_ID + '  id="clickno1" varbut ="1" class="btn btn-info" data-dismiss="modal">ดูรายละเอียด</button></td>';
                                }
                            }
                            SubmithtmlPage = '<tr style="cursor: pointer;" >';
                            SubmithtmlPage += varbutton;
                            // SubmithtmlPage += '<td >' + data[i].No + '</td>';
                            //   SubmithtmlPage += '<td style="text-align: -webkit-center;padding-top: 4px;background-color: #bbc;min-width: 80px;border: 1px solid #222;"><input type="checkbox" id="blahA" value="1"/></td>';
                            SubmithtmlPage += '<td style="ccursor: pointer;text-decoration: underline;text-decoration-color: blue;font-weight: bold;"  stksn=' + data[i].Warranty_ID + ' sta=' + data[i].StatusID + '>' + data[i].SN + '</td>';
                            if(chkstatus == "1"){ //สถานะลงทะเบียน
                                SubmithtmlPage += '<td>-</td>';
                            } else {
                                if (data[i].ClaimRound == 0){
                                    SubmithtmlPage += '<td>1</td>';
                                } else {
                                    if(chkstatus == "2"){
                                        SubmithtmlPage += '<td>' + (Number(data[i].ClaimRound)) + '</td>';
                                    } else {
                                        SubmithtmlPage += '<td>' + (data[i].ClaimRound) + '</td>';
                                    }
                                }
                            }
                            SubmithtmlPage += '<td>' + data[i].ClaimNo + '</td>';

                            SubmithtmlPage += '<td>' + data[i].ItemNo + '</td>';
                            if (b_typeid != "14") {
                                SubmithtmlPage += '<td><div  class="preserveLineBreaks">' + data[i].STKDES + '</div></td>';
                            }
                          //  SubmithtmlPage += '<td><div  class="preserveLineBreaks">' + data[i].STKDES + '</div></td>';
                            SubmithtmlPage += '<td>' + data[i].Status + '</td>';
                            if (b_typeid != "14") {
                                SubmithtmlPage += '<td>' + data[i].Name + "<br>|" + data[i].Tel + '</td>';
                            }

                            SubmithtmlPage += '<td>' + data[i].CarMaker + '</td>';
                            SubmithtmlPage += '<td>' + data[i].CarModel + '</td>';
                            SubmithtmlPage += '<td>' + data[i].CarYear + '</td>';
                            SubmithtmlPage += '<td>' + data[i].CarLicense + '</td>';
                            SubmithtmlPage += '<td>' + data[i].Shop + '</td>';
                            // PCP : 13022024 Add Shop_tel
                            SubmithtmlPage += '<td>' + data[i].ShopTel + '</td>';
                            SubmithtmlPage += '<td>' + data[i].WarrantyStartDate + '</td>';
                            SubmithtmlPage += '<td>' + data[i].WarrantyEndDate + '</td>';
                            SubmithtmlPage += '<td>' + data[i].ClaimDate + '</td>';


                            if (b_typeid != "14") {
                                if (b_typeid != "15") {
                                    SubmithtmlPage += '<td">' + data[i].ExpectedReceiptDate + '</td>';
                                    SubmithtmlPage += '<td>' + data[i].InvoiceDate + '</td>';
                                    SubmithtmlPage += '<td>' + data[i].ExpectedReceiptDate + '</td>';
                                    SubmithtmlPage += '<td>' + data[i].CUSCOD + "<br>|" + data[i].CUSNAM + '</td>';
                                    SubmithtmlPage += '<td>' + data[i].SLMCOD + '</td>';
                                }
                                SubmithtmlPage += '<td>' + data[i].InvoiceNo + '</td>';
                                SubmithtmlPage += '<td>' + data[i].CreateBy + '</td>';
                                SubmithtmlPage += '<td>' + data[i].CreateDate + '</td>';
                                SubmithtmlPage += '<td>' + data[i].UpdateBy + '</td>';
                                SubmithtmlPage += '<td>' + data[i].UpdateDate + '</td>';


                                SubmithtmlPage += '<td></td>';
                            }
                            SubmithtmlPage += '</tr>';
                           // $('#_tbinvoicehiscx > tbody:last-child').append(SubmithtmlPage);
                            $('#fixed-table-container-1  tbody:last-child').append(SubmithtmlPage);
                        }
                        // var fixedTable1 = fixTable(document.getElementById('fixed-table-container-1'));
                    } else {
                        $("#btnExport").css('display', 'none');
                        if (dis == "1") {
                            alert("ไม่มีข้อมูลที่ท่านต้องการค้นหา")
                            $("#myModal").modal('hide');
                        }
                    }
                    var fixedTable1 = fixTable(document.getElementById('fixed-table-container-1'));
                }
            });

        }

            $("table").on("click", "button", function () {
            var stksn = $(this).attr('stksn');
            var sta = $(this).attr('sta');
            var varbut = $(this).attr('varbut');
            var b_typeid = $("#b_userType").val();
            $("#snID").val(stksn);


            if (b_typeid != "14") {
                //Admin//
                if (varbut == "1") {//ดูรายละเอียด
                    var wi = window.location.replace(lastname + "/ClaimView/Index?SnNUM=" + btoa(stksn));
                    wi.focus();

                } else if (varbut == "2") {//
                    var wi = window.location.replace(lastname + "/ClaimRequest/Index?SnNUM=" + btoa(stksn));
                    wi.focus();

                }else if (varbut == "3") {//ดูรายละเอียด
                    var wi = window.location.replace(lastname + "/ClaimRequest/Index?SnNUM=" + btoa(stksn));
                    wi.focus();

                } else if (varbut == "4") {//ทดแทนสินค้า
                    var wi = window.location.replace(lastname + "/Replacement/Index?SnNUM=" + btoa(stksn));
                    wi.focus();
                }
                //if (sta == "1") {

                //    $("#textbox").text("ลูกค้ายังไม่ได้ทำเรื่องเคลม คุณต้องการดูรายละเอียดหรือไม่")
                //    $("#confirmdatail-claim").modal();
                //} else if (sta == "2") {
                //    $("#textboxadm").text("คุณต้องการพิจารณหรือไม่");
                //    $("#confirm-claim").modal();
                //}
                //else if (sta == "3") {
                //    $("#textboxadm").text("คุณต้องการพิจารณหรือไม่");
                //    $("#confirm-claim").modal();

                //} else if (sta == "4") {

                //    $("#textboxReplacement").text("คุณต้องการสู่กระบวนการทดแทนสินค้าหรือไม่")
                //    $("#confirmReplacement-claim").modal();
                //} else if (sta == "5") {

                //    $("#textbox").text("คุณต้องการดูรายละเอียดหรือไม่")
                //    $("#confirmdatail-claim").modal();
                //} else if (sta == "6") {
                //    $("#textbox").text("คุณต้องการดูรายละเอียดหรือไม่")
                //    $("#confirmdatail-claim").modal();

                //}
            }
            else {

                //if (sta == "1") {
                //    $("#textboxadm").text("ทำเรื่องเคลมสินค้าหรือไม่")
                //    $("#confirm-claim").modal();
                //} else {
                //    $("#textbox").text("คุณต้องการดูรายละเอียดหรือไม่")
                //    $("#confirmdatail-claim").modal();
                //}
                if (varbut == "1") {//ดูรายละเอียด
                    var wi = window.location.replace(lastname + "/ClaimView/Index?SnNUM=" + btoa(stksn));
                    wi.focus();

                } else if (varbut == "2") {//
                    var wi = window.location.replace(lastname + "/ClaimRequest/Index?SnNUM=" + btoa(stksn));
                    wi.focus();

                }
            }



        });


        $(document).delegate('#btnnextdetail', 'click', function () {

            var sn_no = $("#snID").val();


            //var currentURL = window.location.href;

           // var wi = window.open(currentURL+"ClaimView/Index?SnNUM=" + btoa(sn_no))
           // var wi = window.open("./ClaimView/Index?SnNUM=" + btoa(sn_no));
            var wi = window.location.replace(lastname + "/ClaimView/Index?SnNUM=" + btoa(sn_no));
            wi.focus();
        });

        $(document).delegate('#btnnext', 'click', function () {

            var sn_no = $("#snID").val();


            //alert(lastname)

           // var currentURL = window.location.host;
            //var wi = window.open("./ClaimRequest/Index?SnNUM=" + btoa(sn_no))

            var wi = window.location.replace(lastname + "/ClaimRequest/Index?SnNUM=" + btoa(sn_no));


            //wi.focus();
        });
        $(document).delegate('#btnnextReplacement', 'click', function () {

            var sn_no = $("#snID").val();


           // var currentURL = window.location.host; //window.location.href;


           // var wi = window.open("./Replacement/Index?SnNUM=" + btoa(sn_no));
            var wi = window.location.replace(lastname + "/Replacement/Index?SnNUM=" + btoa(sn_no));
            wi.focus();

            //var wi = window.open("Replacement/Index?SnNUM=" + btoa(sn_no));
            //wi.focus();
        });
        $(document).delegate('#btnnextviewReplacement', 'click', function () {

            var sn_no = $("#snID").val();


           // var currentURL = window.location.href;
           // var wi = window.open(currentURL+"ClaimView/Index?SnNUM=" + btoa(sn_no));
            var wi = window.location.replace(lastname + "/ClaimView/Index?SnNUM=" + btoa(sn_no));
            //var wi = window.open("./ClaimView/Index?SnNUM=" + btoa(sn_no));
            wi.focus();
        });
    </script>

</body>
</html>