@model EWarranty.Models.GroupClass.ForgotPasswordViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forgot Password </title>
    <!-- plugins:css -->
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    @*<link rel="stylesheet" href="~/BootstrapTemplate/src/assets/css/shared/style.css">*@
    <!-- endinject -->
    <link rel="shortcut icon" href="~/BootstrapTemplate/src/assets/images/favicon.ico" />
    <script src="~/Scripts/jquery-validation-1.19.5/lib/jquery.js"></script>
    <script src="~/Scripts/jquery-validation-1.19.5/dist/jquery.validate.js"></script>

   
    <style>
        .form-gap {
            padding-top: 70px;
        }
    </style>
    <style>
        form.cmxform label.error, label.error {
            color: red;
            font-style: italic;
        }

        #commentForm {
            width: 500px;
        }

            #commentForm label {
                width: 250px;
            }

                #commentForm label.error, #commentForm input.submit {
                    margin-left: 253px;
                }



        #signupForm label.error {
            margin-left: 10px;
            width: auto;
            display: inline;
        }

        #newsletter_topics label.error {
            display: none;
            margin-left: 103px;
        }
    </style>

</head>
<body>
    <div class="form-gap"></div>

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one" style="background: url(~/BootstrapTemplate/src/assets/images/auth/register2.jpg) center center no-repeat; background-size: cover;">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center">
                                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                                    <h2 class="text-center">กู้คืนรหัสผ่านใหม่</h2>
                                    <p>เพื่อรีเซ็ตรหัสผ่าน กรุณาใส่อีเมลของคุณที่ใช่ลงทะเบียน/กรณีลืมอีเมลกรุณาติดต่อเจ้าหน้าที่</p>
                                    <div class="panel-body">
                                        @using (Html.BeginForm())
                                        {
                                           <form class="cmxform" id="signupForm" method="post" action="">
        @*<form id="register-form" role="form" autocomplete="off" class="form" method="post">*@

        @*<div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="email" name="email" placeholder="email address" class="form-control" type="email">
                </div>
            </div>*@
        <div class="form-group">
            @*<span class="text-small font-weight-semibold">ใส่ Email ที่ใช้ลงทะเบียน/กรณีลืม Email ติดต่อ Admin</span>*@
            <div class="editor-label">@Html.LabelFor(u => u.Email)</div>
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
            <div class="editor-field">
                
                @Html.TextBoxFor(u => u.Email, new { data_bind = "Email", @class = "form-control", @name = "email", @type = "email", @id = "email" })

             @*@Html.ValidationMessageFor(u => u.Email )*@
              
            </div>

        </div>
                                               <div class="form-group">
                                                   <button class="btn btn-primary submit-btn btn-block" id="_b_login">ส่งรหัสผ่านเข้าอีเมล</button>
                                               </div>
        @*<div class="form-group">
            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit" id="resetpassword">
        </div>*@

                              <input type="hidden" class="hide" name="token" id="token" value="">
                         </form>
                                            <div>@Html.ValidationSummary(true, "")</div>
                                             <div class="text-block text-center my-3">
                                                        <span class="text-small font-weight-semibold"> </span>
                                                        <a href="~/Account/Login" class="text-black text-small">เข้าสู่ระบบ</a>
                                            </div>
                                         }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal" style="background-color: black;">

        <div class="modal-dialog" role="document" style="width: 360px;">

            <div class="modal-content">

                <div class="modal-header" style="background-color: #337AB7; padding: 16px 16px; color: #FFF; border-bottom: 2px dashed #337AB7; ">

                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>*@

                    <h4 class="modal-title" id="myModalLabel"></h4>

                </div>

                <div class="modal-body" id="texterror">
                </div>

                <div class="modal-footer">

                    @*<button type="button" class="btn btn btn-primary" data-dismiss="modal">OK</button>*@

                    <button type="button" class="btn btn btn-success" data-dismiss="modal" id="btnlogin">เข้าสู่ระบบอีกครั้ง</button>

                    @*<button type="button" class="btn btn-orange" data-dismiss="modal">Cancel</button>*@

                </div>

            </div>

        </div>

    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var id = '@Request.RequestContext.HttpContext.Session["ID"]';
        var userid = '@Request.RequestContext.HttpContext.Session["UserID"]';
        var usertype = '@Request.RequestContext.HttpContext.Session["UserType"]';
        if (usertype == "14") {

            //checklogin(userid, id)
        }
        @*function checklogin(userid, id) {
            $.ajax({
                url: '@Url.Action("GetdataSessionlogin", "GetdataCenter")',
                data: {
                    UsrID: userid,
                    SessionId: id

                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    var splitstring = data.StrStstuslogin;
                    //console.log(splitstring);
                    let text = splitstring;
                    const myArray = text.split("|");
                    let mysession = myArray[1];
                    let mystatus = myArray[0];
                    // console.log("mystatus " + mystatus + "//////" + "mysession " + mysession);
                    if (id != mysession) {
                        $("#texterror").empty();
                        $("#texterror").text("ขออภัย ท่านทำรายการเกินระยะเวลาที่กำหนด กรุณาเข้าใช้งานใหม่อีกครั้ง");
                        //  $("#btn_click").trigger("click");
                        $("#myModal").modal();
                        //  $('#myModal').modal({ backdrop: 'static', keyboard: false }, 'show');
                        //$("#myModal").modal();
                        return false;
                        //window.location.replace("../Account/LogIn");
                    } else {

                        if (mystatus == "0") {
                            $("#texterror").empty();
                            $("#texterror").text("ขออภัย ท่านทำรายการเกินระยะเวลาที่กำหนด กรุณาเข้าใช้งานใหม่อีกครั้ง");
                            //$("#btn_click").trigger("click");
                            // $('#myModal').modal({ backdrop: 'static', keyboard: false }, 'show');
                            $("#myModal").modal();
                            return false;
                            //window.location.replace("../Account/LogIn");
                        }
                    }
                }
            });
        }*@
        $(document).on("click", "#myModal", function () {

            // $('#myModal3').click(function () {
            if (usertype == "14") {
                $("#myModal").modal({ backdrop: "static" });
            }
        });
        $('#btnlogin').click(function () {
            if (usertype == "14") {
                window.location.replace("Account/LogIn");
            }
        });

        if (usertype == "14") {
            $(window).on('load', function () {
                //alert("load")
                checklogin(userid, id)
            });
            window.onclick = function () {
                //alert("onclick")
                checklogin(userid, id)
            };
            $('.navbar-nav').click(function () {
                // alert("navbar-nav")
                checklogin(userid, id)

            });
            $('a').click(function () {
                //  alert("a")
                checklogin(userid, id)

            });
            //$(document).bind('keypress.session', function (ed, e) {
            //    checklogin(userid, id)
            //});
            $(document).bind('mousedown keydown', function (ed, e) {

                checklogin(userid, id)
            });
            $(window).scroll(function (e) {

                checklogin(userid, id)
            });

        }









        $().ready(function () {
            // validate the comment form when it is submitted
            $("#commentForm").validate();

            // validate signup form on keyup and submit
            $("#signupForm").validate({
                rules: {

                    email: {
                        required: true,
                        email: true
                    },

                },
                messages: {

                    email: "กรุณาระบุอีเมล",

                }
            });


        });
        $.validator.setDefaults({
            submitHandler: function () {
                alert("submitted!");


                var b_email = $('#email').val();

                $.ajax({
                    url: '@Url.Action("ForgotPassword", "Account")',
                    data: {

                        b_email: $('#email').val(),
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        // alert(data.message)
                        // $("#meassagetext").html(data.message);
                        if (data.message == "Y") {
                            alert("ส่งรหัสผ่านเข้าอีเมลที่ท่านลงทะเบียนไว้เรียบร้อย");
                            let lastname = getlocalhost();
                            console.log(lastname);
                           
                            var wi = window.open(lastname + "/Account/LogIn");
                            wi.focus();

                            //$("#meassagetext").html("Invalid password")
                            // $("#meassagetext").addClass('weak-password');
                            // $("#meassagetext").removeClass('strong-password');
                            // $('#savepas').prop("disabled", true);
                        } else {
                            alert(data.message);
                            return false;
                            //$("#meassagetext").html("Password is correct")
                            // $("#meassagetext").removeClass('weak-password');
                            // $("#meassagetext").addClass('strong-password');
                            // $('#savepas').removeAttr("disabled");
                        }
                    }
                });
            }
        });
        $(document).ready(function () {

            //$("#resetpassword").click(function () {
            //    alert("xxxxxx");

            //});

        });
    </script>

</body>
</html>